<h1>welcome to everything news</h1>
<h1>hi search</h1>
<form action='/search' method="GET"> 
<div id="searchWrapper">
  <input type="text" name="searchBar" id="searchBar" placeholder="search" />
  <input type="submit" ></input><br><br>
</div>
</form>


<nav>
  <button><a href="/headlines">headlines</a></button>
  <button><a href="/everything">Everything</a></button>
  <button><a href="/sources">Sources</a><br></button>
  <br><br>
</nav>

{{#each data}}




<div>
  <img style="width:400px" src="{{urlToImage}}">
  <h1>{{this.title}}</h1>
  {{this.description}}
  {{this.content}}
  <a href="{{this.url}}">read more</a>
  <br><br>
</div>
{{/each}}









{{!-- {{#each data}}
{{this.title}}
{{this.description}}
<a href="{{this.url}}">link</a>

{{/each}} --}}