
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="/headlines">Headlines</a>
    <a class="p-2 text-muted" href="/everything">Everything</a>
    <a class="p-2 text-muted" href="/sources">Sources</a>
    <a class="p-2 text-muted" href="/entertainment">Entertainment</a>
   <a class="p-2 text-muted" href="/health">Health</a>
    <a class="p-2 text-muted" href="/business">Business</a>
    <a class="p-2 text-muted" href="/technology">Tech</a>
   <a class="p-2 text-muted" href="/science">Science</a>
    <a class="p-2 text-muted" href="/articles">Blogs</a>
    
    

  </nav>
</div>

{{#each data}}
<div>
  <img style="width:400px" src="{{urlToImage}}">
  <h1>{{this.title}}</h1>
  {{this.description}}
  {{this.content}}
  <a href="{{this.url}}">read more</a>
  <br><br>
</div>
{{/each}}


<script src="/javascripts/script.js"></script>